<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container auth-box">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h1>Create Account</h1>

        <form action="/signup" method="POST" class="auth-form">

            <input
                type="text"
                name="username"
                placeholder="Choose username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Choose password"
                required
            >

            <button type="submit">
                Signup
            </button>

        </form>

        <div class="auth-link">
            <a href="/login-page">
                Already have an account? Login
            </a>
        </div>

    </div>

</body>
</html>